
{% extends 'Apli/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div style="background-color: rgb(162, 0, 255);">
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Este es el título de VIDEO JUEGOS</h1>
    <p> Se hereda todos desde padre</p>
    <h3>Podes buscar los datos de un Juego Nuevo: </h3>
</div>
<form method="post">
    {% csrf_token %}
<table>

    {{ form.as_table }}
</table>
<input type="submit" value="Enviar">    
</form>
{% endblock %}